.navbar{
    z-index: 1;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;}
.header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a{
    color: #ac22bde0;
    font-size: 20px;
    
}
.navbar a:hover{
    color: #be8ebef0;
}
li.nav-link{
    color: rgb(143, 150, 157)!important;}
body h1{
    color: #ac22bde0;
    font-size: 35px;}
body{
    background-image: url("/public/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;}
    .profileList{
    margin: auto;
    width: 50%;
    padding: 10px;}
    .card{
        width: 18rem;
        border: 3px solid mediumpurple;
        box-shadow: 10px 5px 5px #bf8c8c;
    }
    .card h5{
    color: #b91dade0;
    font-family: cursive;
    font-size: 24px;
    }
    body p{
    font-size: large;
    font-weight: 500;
    }
    a{
        color: #893038;;
    }
    .list-group-item{
        color: #b541b1
    }

    
    